<div style="text-align:center"; ><h3><%= tag_label('Students list', :success) %></h3></div>
<div style= "text-align:right; padding-right:430px; padding-bottom:0px";><%= render 'form1', student: @student%></div>

<br>
<br>
<center>
<table border="3" bordercolor=black; >
<thead>
<br>
<th>Name</th>
<th>Subject</th>
<th>Marks</th>
<th>Grade</th>
</thead>
<tbody>
<% @students.each do |student| %>
<tr>
<td><%= student.name %> </td>
<td><%= student.subject %></td>
<td><%= student.marks %></td>
<td><%= student.grade %></td>
<td>
<%= link_to "Show", student_path(student) %>
<%= link_to "Edit", edit_student_path(student) %>
<%= link_to "delete", student_path(student), method: :delete, data: { confirm: "are u sure"} %>
<%= link_to "download PDF", download_pdf_student_path(student) %>
</td>
</tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to "New",new_student_path %>
 <%= render 'bootstrap' %>
</div>
</center>

